<!--
<div class="auth">
  <div class="authContent">

    <a
      class="authContent__close"
      onclick=""
    ><i class="mdi mdi-window-close"></i></a>

    <form onsubmit="" novalidate>

      <p>
        <label for="login">Utilisateur / email</label>
        <input
          type="email"
          name="login"
          pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
        >
      </p>

      <p>
        <label for="pass">Mot de passe</label>
        <input
          type="password"
          name="pass"
        >
      </p>

      <p class="authContent--center">
        <button>Connection</button>
      </p>

    </form>
  </div>
</div>
-->
