<!--
<main class="basket">

  <article>
    <i class="mdi mdi-plane"></i>
    <strong>title</strong>
    <i class="mdi mdi-close-circle" onclicm=""></i>
    <span>100€</span>
  </article>

  <aside>
    <strong>Total :</strong>
    <span>100€</span>
  </aside>

  <footer>
    <button>> PAY !</button>
  </footer>

</main>
-->
